name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4


    - name: Set up Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: 24.14.0
        cache: 'pnpm'
        cache-dependency-path: pnpm-lock.yaml

    - name: Install dependencies
      run: pnpm install

    - name: Lint
      run: pnpm run lint --max-warnings=0

    - name: Type Check
      run: pnpm run type-check

    - name: Test
      run: pnpm test

    - name: Check Documentation
      run: pnpm run docs

    - name: Build
      run: pnpm run build

    - name: Check build artifacts
      run: |
        ls -l dist/boks-sdk.js
        ls -l dist/esm/boks-sdk.js
        ls -l dist/cjs/boks-sdk.cjs
        ls -l dist/types/index.d.ts
