name: Cleanup PR Preview

on:
  pull_request:
    types: [closed]

permissions:
  contents: write
  pull-requests: write

jobs:
  cleanup-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: gh-pages

      - name: Remove PR Preview
        run: |
          if [ -d "pr-${{ github.event.number }}" ]; then
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git rm -rf pr-${{ github.event.number }}
            git commit -m "Cleanup PR preview for PR #${{ github.event.number }}"
            git push origin gh-pages
          else
            echo "PR preview folder pr-${{ github.event.number }} does not exist. Skipping."
          fi
